## Numpy

In [1]:
import numpy as np

## Array

In [2]:
revenus = [1800, 1500, 2200, 3000, 2172]
revenus_array = np.array(revenus)
print(f"{revenus_array = }")

revenus_array = array([1800, 1500, 2200, 3000, 2172])

In [3]:
print(f"{np.zeros(5) = }")
print(f"{np.ones(5) = }")
print(f"{np.arange(1, 7, 2) = }")
print(f"{np.linspace(1, 2, 5) = }")

np.zeros(5) = array([0., 0., 0., 0., 0.])
np.ones(5) = array([1., 1., 1., 1., 1.])
np.arange(1, 7, 2) = array([1, 3, 5])
np.linspace(1, 2, 5) = array([1.  , 1.25, 1.5 , 1.75, 2.  ])

In [4]:
print(f"{revenus_array.dtype = }") # array type
print(f"{revenus_array.shape = }") # array shape

revenus_array.dtype = dtype('int64')
revenus_array.shape = (5,)

In [5]:
revenus_array[1] = 1900 # affecte la valeur 1900 à l'élément d'indice 1
revenus_array[revenus_array > 2500] = 2800 # afecte la valeur 2800 à l'ensemble des éléments vérifiant la condition revenus_array > 2500
print(f"{revenus_array[1] = }") # sélectionne l'élément d'indice 1
print(f"{revenus_array[-1] = }") # sélectionne le dernier élément
print(f"{revenus_array[0:5:2] = }") # array[i:j:p] -> sélection des éléments d'indices i à j-1 avec un pas de p
print(f"{revenus_array[:3] = }") # sélectionne les 3 premiers éléments
print(f"{revenus_array[2:] = }") # sélectionne tous les éléments à  partir de l'indice 2
print(f"{revenus_array[::2] = }") # sélectionne un élément sur 2
print(f"{revenus_array[::-1] = }") # reverse array
print(f"{revenus_array[revenus_array > 2000] = }") # sélectionne les éléments vérifiant la condition revenus_array > 2000
print(f"{revenus_array[(revenus_array > 2000) & (revenus_array < 3000)] = }") # et -> & ou -> |

revenus_array[1] = np.int64(1900)
revenus_array[-1] = np.int64(2172)
revenus_array[0:5:2] = array([1800, 2200, 2172])
revenus_array[:3] = array([1800, 1900, 2200])
revenus_array[2:] = array([2200, 2800, 2172])
revenus_array[::2] = array([1800, 2200, 2172])
revenus_array[::-1] = array([2172, 2800, 2200, 1900, 1800])
revenus_array[revenus_array > 2000] = array([2200, 2800, 2172])
revenus_array[(revenus_array > 2000) & (revenus_array < 3000)] = array([2200, 2800, 2172])

In [6]:
print(f"{revenus_array.min() = }")
print(f"{revenus_array.max() = }")
print(f"{revenus_array.argmin() = }") # indice de l'élément le plus petit
print(f"{revenus_array.argmax() = }") # indice de l'élément le plus grand
print(f"{revenus_array.mean() = }")
print(f"{revenus_array.sum() = }")
revenus_array.sort()
print(f"{revenus_array = }")

revenus_array.min() = np.int64(1800)
revenus_array.max() = np.int64(2800)
revenus_array.argmin() = np.int64(0)
revenus_array.argmax() = np.int64(3)
revenus_array.mean() = np.float64(2174.4)
revenus_array.sum() = np.int64(10872)
revenus_array = array([1800, 1900, 2172, 2200, 2800])

In [7]:
revenus_12 = revenus_array * 12
print(f"{revenus_12 = }")
revenus_12_K = revenus_12 / 1_000
revenus_12_K = (np.rint(revenus_12_K)).astype(int) # float to int
print(f"{revenus_12_K = }")

revenus_12 = array([21600, 22800, 26064, 26400, 33600])
revenus_12_K = array([22, 23, 26, 26, 34])

## Tableau

In [8]:
hugo = [21, 1400, 0]
richard = [54, 2800, 2]
emilie = [27, 3700, 3]
tableau = np.array([hugo, richard, emilie])
print(f"{tableau = }")
print(f"{tableau.shape = }")

tableau = array([[  21, 1400,    0],
       [  54, 2800,    2],
       [  27, 3700,    3]])
tableau.shape = (3, 3)

In [9]:
print(f"{tableau[0,0] = }")
print(f"{tableau[0,:] = }") # sélectionne la ligne d'indice 0
print(f"{tableau[:,2] = }") # sélectionne la colonne d'indice 2
print(f"{tableau[tableau[:,1] > 2000] = }") # sélectionne toutes les lignes du tableau ayant une valeur de colonne 1 supérieure à 2000

tableau[0,0] = np.int64(21)
tableau[0,:] = array([  21, 1400,    0])
tableau[:,2] = array([0, 2, 3])
tableau[tableau[:,1] > 2000] = array([[  54, 2800,    2],
       [  27, 3700,    3]])

In [10]:
fred = [32, 1750, 4]
np.vstack((tableau, fred)) # ajoute fred au tableau /!\ np.vstack prend un tuple en paramètre !
print(f"{tableau = }")

tableau = array([[  21, 1400,    0],
       [  54, 2800,    2],
       [  27, 3700,    3]])

In [11]:
print(f"{np.ones((3, 5)) = }") # un tableau de 3x5 rempli de 1
print(f"{np.zeros((4, 4)) = }") # un tableau de 4 lignes et de 4 colonnes contenant que des 0
print(f"{np.random.random((6, 3)) = }") # un tableau de 6x3 rempli de valeurs aléatoires comprises entre 0 et 1
print(f"{np.random.randint(1, 10, size=(3, 3)) = }") # un tableau de 3x3 rempli de valeurs aléatoires entières, comprises entre 1 et 10

np.ones((3, 5)) = array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])
np.zeros((4, 4)) = array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])
np.random.random((6, 3)) = array([[0.36591653, 0.48049319, 0.25886006],
       [0.12077729, 0.2624837 , 0.52382054],
       [0.93466115, 0.44134907, 0.56620332],
       [0.33870006, 0.10480601, 0.03644139],
       [0.53759157, 0.80212039, 0.51193175],
       [0.41022558, 0.86604786, 0.53967246]])
np.random.randint(1, 10, size=(3, 3)) = array([[8, 7, 2],
       [5, 9, 7],
       [1, 3, 8]], dtype=int32)

In [12]:
A = np.array([[1, 2], [3, 4]])
B = np.array([[5, 10], [15, 20]])
print(f"{A + B = }") # Somme matricielle
print(f"{A * B = }") # Produit terme à terme
print(f"{A @ B = }") # Produit matricielle /!\ python --version >= 3.5 sinon AC = np.dot(A, B)

A + B = array([[ 6, 12],
       [18, 24]])
A * B = array([[ 5, 20],
       [45, 80]])
A @ B = array([[ 35,  50],
       [ 75, 110]])