## Pandas

In [1]:
import numpy as np
import pandas as pd

## Importer un dataframe

In [2]:
data = pd.read_csv('clients.csv')
# data = pd.read_json('clients.json')
# data = pd.read_excel('clients.xlsx')
display(data.head()) # Affiche les 5 premières lignes du fichier, on peut donner un nombre de ligne à afficher en argument
display(data.tail()) # 5 dernière lignes, on peut donner un nombre de ligne à afficher en argument

   identifiant                      email               nom genre
0            0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1            1      GuyMarois@fleckens.hu        Guy Marois     M
2            2  BeaufortLesage@einrot.com   Beaufort Lesage     M
3            3  RussellDurand@armyspy.com    Russell Durand     M
4            4       AlexisRiel@rhyta.com       Alexis Riel     M

     identifiant                            email                nom genre
223          223  ClaudeDandonneau@jourrapide.com  Claude Dandonneau     F
224          224    ApollineMichaud@superrito.com   Apolline Michaud     F
225          225       PascalineBeaudry@rhyta.com  Pascaline Beaudry     F
226          226     FleurCaouette@jourrapide.com     Fleur Caouette     F
227          227      FrancisMasse@jourrapide.com      Francis Masse     M

In [3]:
print(f"{data.shape = }")
print(f"data.dtypes :\n{data.dtypes}") # rmq : le type object de pandas correspond au type str de python

data.shape = (228, 4)
data.dtypes :
identifiant     int64
email          object
nom            object
genre          object
dtype: object

In [4]:
clients_array = data.values # dataframe to array
display(clients_array)

array([[0, 'LaurentDagenais@rhyta.com', 'Laurent Dagenais', 'M'],
       [1, 'GuyMarois@fleckens.hu', 'Guy Marois', 'M'],
       [2, 'BeaufortLesage@einrot.com', 'Beaufort Lesage', 'M'],
       [3, 'RussellDurand@armyspy.com', 'Russell Durand', 'M'],
       [4, 'AlexisRiel@rhyta.com', 'Alexis Riel', 'M'],
       [5, 'LeonLapresse@cuvox.de', 'Leon Lapresse', 'M'],
       [6, 'OrvilleRouthier@gustr.com', 'Orville Routhier', 'M'],
       [7, 'AgramantPepin@dayrep.com', 'Agramant Pepin', 'M'],
       [8, 'AiglentinaLambert@fleckens.hu', 'Aiglentina Lambert', 'F'],
       [9, 'TheodoreClavet@teleworm.us', 'Theodore Clavet', 'M'],
       [10, 'ByronLefebvre@jourrapide.com', 'Byron Lefebvre', 'M'],
       [11, 'FlorusDevoe@einrot.com', 'Florus Devoe', 'M'],
       [12, 'NormandArsenault@armyspy.com', 'Normand Arsenault', 'M'],
       [13, 'AcelineHughes@jourrapide.com', 'Aceline Hughes', 'F'],
       [14, 'GastonBrisette@superrito.com', 'Gaston Brisette', 'M'],
       [15, 'AgateGrandbois@gustr.com', 'Agate Grandbois', 'F'],
       [16, 'AgricanFoucault@jourrapide.com', 'Agrican Foucault', 'M'],
       [17, 'PrunellaJosseaume@armyspy.com', 'Prunella Josseaume', 'F'],
       [18, 'YseultCharest@armyspy.com', 'Yseult Charest', 'F'],
       [19, 'DorotheeAupry@cuvox.de', 'Dorothee Aupry', 'F'],
       [20, 'AmauryReault@teleworm.us', 'Amaury Reault', 'M'],
       [21, 'GillesBeauchamps@superrito.com', 'Gilles Beauchamps', 'M'],
       [22, 'FranckDumont@gustr.com', 'Franck Dumont', 'M'],
       [23, 'DelmareLHeureux@dayrep.com', 'Delmare L Heureux', 'F'],
       [24, 'AlphonseCantin@cuvox.de', 'Alphonse Cantin', 'M'],
       [25, 'BlondelleRochon@gustr.com', 'Blondelle Rochon', 'F'],
       [26, 'SavilleBernard@armyspy.com', 'Saville Bernard', 'M'],
       [27, 'AnnetteJolicoeur@armyspy.com', 'Annette Jolicoeur', 'F'],
       [28, 'BradamateMichel@armyspy.com', 'Bradamate Michel', 'F'],
       [29, 'HilaireFrappier@armyspy.com', 'Hilaire Frappier', 'F'],
       [30, 'MarieBriard@gustr.com', 'Marie Briard', 'F'],
       [31, 'MadeleineBatard@superrito.com', 'Madeleine Batard', 'F'],
       [32, 'ArberGarcia@dayrep.com', 'Arber Garcia', 'M'],
       [33, 'SaberViens@superrito.com', 'Saber Viens', 'M'],
       [34, 'ArnaudDubois@rhyta.com', 'Arnaud Dubois', 'M'],
       [35, 'PryorBeauchamp@dayrep.com', 'Pryor Beauchamp', 'M'],
       [36, 'AlphonsePotvin@armyspy.com', 'Alphonse Potvin', 'M'],
       [37, 'FitzLafontaine@dayrep.com', 'Fitz Lafontaine', 'M'],
       [38, 'DelmareLamothe@gustr.com', 'Delmare Lamothe', 'F'],
       [39, 'DaisiBoileau@jourrapide.com', 'Daisi Boileau', 'F'],
       [40, 'SomerPaquette@jourrapide.com', 'Somer Paquette', 'M'],
       [41, 'OlivieCourtemanche@armyspy.com', 'Olivie Courtemanche', 'F'],
       [42, 'GermainHughes@teleworm.us', 'Germain Hughes', 'M'],
       [43, 'MorganaBellemare@superrito.com', 'Morgana Bellemare', 'F'],
       [44, 'MerciMorin@gustr.com', 'Merci Morin', 'F'],
       [45, 'VerneyBedard@dayrep.com', 'Verney Bedard', 'M'],
       [46, 'IgnaceAudibert@armyspy.com', 'Ignace Audibert', 'M'],
       [47, 'FranckBinet@superrito.com', 'Franck Binet', 'M'],
       [48, 'SumnerRocheleau@einrot.com', 'Sumner Rocheleau', 'M'],
       [49, 'AubertPatel@armyspy.com', 'Aubert Patel', 'M'],
       [50, 'SumnerLaprise@superrito.com', 'Sumner Laprise', 'M'],
       [51, 'MadeleineLeveille@dayrep.com', 'Madeleine Leveille', 'F'],
       [52, 'BelisardaGuedry@dayrep.com', 'Belisarda Guedry', 'F'],
       [53, 'ZurieTheberge@gustr.com', 'Zurie Theberge', 'F'],
       [54, 'ErmengardiBousquet@dayrep.com', 'Ermengardi Bousquet', 'F'],
       [55, 'FlorenceBeaudoin@einrot.com', 'Florence Beaudoin', 'F'],
       [56, 'LeoneCrete@armyspy.com', 'Leone Crete', 'F'],
       [57, 'SearlaitCote@superrito.com', 'Searlait Cote', 'F'],
       [58, 'AlphonsineBourassa@cuvox.de', 'Alphonsine Bourassa', 'F'],
       [59, 'DidianeDAubigne@einrot.com', 'Didiane D Aubigne', 'F'],
       [60, 'EdouardLacroix@cuvox.de', 'Edouard Lacroix', 'M'],
       [61, 'OdeletteCharron@superrito.com', 'Odelette Charron', 'F'],
       [62, 'AleronBerard@rhyta.com', 'Aleron Berard', 'M'],
       [63, 'SylvieDuranseau@einrot.com', 'Sylvie Duranseau', 'F'],
       [64, 'YvetteDAvis@cuvox.de', 'Yvette D Avis', 'F'],
       [65, 'SolaineLecuyer@dayrep.com', 'Solaine Lecuyer', 'F'],
       [66, 'CourtlandDavid@cuvox.de', 'Courtland David', 'M'],
       [67, 'PatienceCharbonneau@jourrapide.com', 'Patience Charbonneau',
        'F'],
       [68, 'EmmanuelLanctot@cuvox.de', 'Emmanuel Lanctot', 'M'],
       [69, 'MusetteProvencher@armyspy.com', 'Musette Provencher', 'F'],
       [70, 'MorganaMarchesseault@teleworm.us', 'Morgana Marchesseault',
        'F'],
       [71, 'ViolletteArnoux@cuvox.de', 'Viollette Arnoux', 'F'],
       [72, 'SlainieGregoire@cuvox.de', 'Slainie Gregoire', 'F'],
       [73, 'GarlandLagueux@rhyta.com', 'Garland Lagueux', 'F'],
       [74, 'FerragusGrimard@cuvox.de', 'Ferragus Grimard', 'M'],
       [75, 'JeanTollmache@einrot.com', 'Jean Tollmache', 'M'],
       [76, 'LanceParent@teleworm.us', 'Lance Parent', 'M'],
       [77, 'CheneyChaloux@cuvox.de', 'Cheney Chaloux', 'M'],
       [78, 'PierpontLamarre@superrito.com', 'Pierpont Lamarre', 'M'],
       [79, 'ComforteQuerry@superrito.com', 'Comforte Querry', 'F'],
       [80, 'NadineMasson@teleworm.us', 'Nadine Masson', 'F'],
       [81, 'FranceLaderoute@jourrapide.com', 'France Laderoute', 'F'],
       [82, 'LothairBonenfant@dayrep.com', 'Lothair Bonenfant', 'M'],
       [83, 'OlivieNorbert@cuvox.de', 'Olivie Norbert', 'F'],
       [84, 'SomerMarleau@cuvox.de', 'Somer Marleau', 'M'],
       [85, 'AstridJolicoeur@superrito.com', 'Astrid Jolicoeur', 'F'],
       [86, 'OlivierGaillard@superrito.com', 'Olivier Gaillard', 'M'],
       [87, 'PhilipPinneau@teleworm.us', 'Philip Pinneau', 'M'],
       [88, 'AlexisLagrange@gustr.com', 'Alexis Lagrange', 'M'],
       [89, 'HeloiseGregoire@dayrep.com', 'Heloise Gregoire', 'F'],
       [90, 'DexterDavid@fleckens.hu', 'Dexter David', 'M'],
       [91, 'JacquesMethot@cuvox.de', 'Jacques Methot', 'M'],
       [92, 'AnceloteDesforges@cuvox.de', 'Ancelote Desforges', 'F'],
       [93, 'JulietteOuellet@rhyta.com', 'Juliette Ouellet', 'F'],
       [94, 'AvrilSylvain@superrito.com', 'Avril Sylvain', 'F'],
       [95, 'RachellePlaisance@armyspy.com', 'Rachelle Plaisance', 'F'],
       [96, 'BenjaminLabrie@fleckens.hu', 'Benjamin Labrie', 'M'],
       [97, 'LaureBondy@superrito.com', 'Laure Bondy', 'F'],
       [98, 'NatalieLeveille@rhyta.com', 'Natalie Leveille', 'F'],
       [99, 'SydneyGuibord@superrito.com', 'Sydney Guibord', 'F'],
       [100, 'ZdenekVadnais@superrito.com', 'Zdenek Vadnais', 'M'],
       [101, 'LoyalQuenneville@superrito.com', 'Loyal Quenneville', 'M'],
       [102, 'ErnestTachel@cuvox.de', 'Ernest Tachel', 'M'],
       [103, 'MatthieuPouchard@teleworm.us', 'Matthieu Pouchard', 'M'],
       [104, 'SearlasArtois@rhyta.com', 'Searlas Artois', 'M'],
       [105, 'ArnoLeBatelier@einrot.com', 'Arno Le Batelier', 'M'],
       [106, 'EstellePoisson@jourrapide.com', 'Estelle Poisson', 'F'],
       [107, 'HarcourtCharpentier@cuvox.de', 'Harcourt Charpentier', 'M'],
       [108, 'CrescentLavallee@armyspy.com', 'Crescent Lavallee', 'F'],
       [109, 'EugeniaVadeboncoeur@cuvox.de', 'Eugenia Vadeboncoeur', 'F'],
       [110, 'GenevreLabrie@cuvox.de', 'Genevre Labrie', 'F'],
       [111, 'NormandCote@dayrep.com', 'Normand Cote', 'M'],
       [112, 'ZoeLeclair@gustr.com', 'Zoe Leclair', 'F'],
       [113, 'PhillipaPerrault@einrot.com', 'Phillipa Perrault', 'F'],
       [114, 'EliseDesrosiers@jourrapide.com', 'Elise Desrosiers', 'F'],
       [115, 'RussellRochon@superrito.com', 'Russell Rochon', 'M'],
       [116, 'BeldaLauzier@armyspy.com', 'Belda Lauzier', 'F'],
       [117, 'AlphonsineSacre@einrot.com', 'Alphonsine Sacre', 'F'],
       [118, 'AubineLabelle@cuvox.de', 'Aubine Labelle', 'F'],
       [119, 'EmileVadnais@rhyta.com', 'Emile Vadnais', 'M'],
       [120, 'ArienneCantin@superrito.com', 'Arienne Cantin', 'F'],
       [121, 'JacquesMarcheterre@einrot.com', 'Jacques Marcheterre', 'M'],
       [122, 'EliotDupuis@gustr.com', 'Eliot Dupuis', 'M'],
       [123, 'ArthurPlante@jourrapide.com', 'Arthur Plante', 'M'],
       [124, 'SacripantLabrie@armyspy.com', 'Sacripant Labrie', 'M'],
       [125, 'SibylaLizotte@cuvox.de', 'Sibyla Lizotte', 'F'],
       [126, 'ChristianLaberge@armyspy.com', 'Christian Laberge', 'M'],
       [127, 'VickDavid@gustr.com', 'Vick David', 'M'],
       [128, 'ComforteCloutier@einrot.com', 'Comforte Cloutier', 'F'],
       [129, 'ClaudeGalarneau@armyspy.com', 'Claude Galarneau', 'M'],
       [130, 'ElisePerrault@superrito.com', 'Elise Perrault', 'F'],
       [131, 'LoringRocheleau@cuvox.de', 'Loring Rocheleau', 'M'],
       [132, 'MathildeSansouci@superrito.com', 'Mathilde Sansouci', 'F'],
       [133, 'AmaurySirois@superrito.com', 'Amaury Sirois', 'M'],
       [134, 'ChristelleLandry@jourrapide.com', 'Christelle Landry', 'F'],
       [135, 'AdelaideBrousse@gustr.com', 'Adelaide Brousse', 'F'],
       [136, 'BriceFaure@einrot.com', 'Brice Faure', 'M'],
       [137, 'AlaineHervieux@rhyta.com', 'Alaine Hervieux', 'F'],
       [138, 'LanceCroteau@einrot.com', 'Lance Croteau', 'M'],
       [139, 'AurelieBazinet@dayrep.com', 'Aurelie Bazinet', 'F'],
       [140, 'AstolphoVeronneau@teleworm.us', 'Astolpho Veronneau', 'M'],
       [141, 'JolieDeblois@armyspy.com', 'Jolie Deblois', 'F'],
       [142, 'MireilleParenteau@superrito.com', 'Mireille Parenteau',
        'F'],
       [143, 'ToussaintBrodeur@rhyta.com', 'Toussaint Brodeur', 'M'],
       [144, 'PorterSimard@armyspy.com', 'Porter Simard', 'M'],
       [145, 'JeromedeLaunay@fleckens.hu', 'Jeromede Launay', 'M'],
       [146, 'LowellPatel@rhyta.com', 'Lowell Patel', 'M'],
       [147, 'GarlandMarcheterre@fleckens.hu', 'Garland Marcheterre',
        'F'],
       [148, 'OlivierAube@armyspy.com', 'Olivier Aube', 'M'],
       [149, 'FrontinoBrian@einrot.com', 'Frontino Brian', 'M'],
       [150, 'RochMireault@gustr.com', 'Roch Mireault', 'M'],
       [151, 'NathalieCormier@cuvox.de', 'Nathalie Cormier', 'F'],
       [152, 'VallisMainville@gustr.com', 'Vallis Mainville', 'M'],
       [153, 'DanielleNeufville@teleworm.us', 'Danielle Neufville', 'F'],
       [154, 'AllyrianeRacine@gustr.com', 'Allyriane Racine', 'F'],
       [155, 'PierpontFlamand@fleckens.hu', 'Pierpont Flamand', 'M'],
       [156, 'DanielHuot@rhyta.com', 'Daniel Huot', 'M'],
       [157, 'HughPoisson@fleckens.hu', 'Hugh Poisson', 'M'],
       [158, 'YoletteMoreau@dayrep.com', 'Yolette Moreau', 'F'],
       [159, 'GasparReault@dayrep.com', 'Gaspar Reault', 'M'],
       [160, 'DelitBisaillon@teleworm.us', 'Delit Bisaillon', 'F'],
       [161, 'ManonDastous@armyspy.com', 'Manon Dastous', 'F'],
       [162, 'LoyalFouquet@armyspy.com', 'Loyal Fouquet', 'M'],
       [163, 'ApollineLaframboise@teleworm.us', 'Apolline Laframboise',
        'F'],
       [164, 'OrielMiron@jourrapide.com', 'Oriel Miron', 'F'],
       [165, 'LianeLaGarde@cuvox.de', 'Liane La Garde', 'F'],
       [166, 'AnastasieCroteau@rhyta.com', 'Anastasie Croteau', 'F'],
       [167, 'VerneyCourse@armyspy.com', 'Verney Course', 'M'],
       [168, 'VoletaAdler@armyspy.com', 'Voleta Adler', 'F'],
       [169, 'PlattParent@jourrapide.com', 'Platt Parent', 'M'],
       [170, 'BlondelleAilleboust@gustr.com', 'Blondelle Ailleboust',
        'F'],
       [171, 'AurelieDesnoyer@armyspy.com', 'Aurelie Desnoyer', 'F'],
       [172, 'AvelaineGadbois@dayrep.com', 'Avelaine Gadbois', 'F'],
       [173, 'BriceGrondin@fleckens.hu', 'Brice Grondin', 'M'],
       [174, 'ZacharieDuplessis@rhyta.com', 'Zacharie Duplessis', 'M'],
       [175, 'OgierGervais@gustr.com', 'Ogier Gervais', 'M'],
       [176, 'FusbertaRancourt@rhyta.com', 'Fusberta Rancourt', 'F'],
       [177, 'CamilleLaurent@superrito.com', 'Camille Laurent', 'F'],
       [178, 'CeriseMontminy@dayrep.com', 'Cerise Montminy', 'F'],
       [179, 'JosetteRiquier@armyspy.com', 'Josette Riquier', 'F'],
       [180, 'AgnesBriard@cuvox.de', 'Agnes Briard', 'F'],
       [181, 'AvrilRocheleau@fleckens.hu', 'Avril Rocheleau', 'F'],
       [182, 'BenoitGauvin@teleworm.us', 'Benoit Gauvin', 'M'],
       [183, 'HeloiseMarcil@fleckens.hu', 'Heloise Marcil', 'F'],
       [184, 'RolandDupont@einrot.com', 'Roland Dupont', 'M'],
       [185, 'SolaineLabrecque@fleckens.hu', 'Solaine Labrecque', 'F'],
       [186, 'JulieBeauchemin@teleworm.us', 'Julie Beauchemin', 'F'],
       [187, 'KarelDandonneau@dayrep.com', 'Karel Dandonneau', 'M'],
       [188, 'PaienBeauchesne@rhyta.com', 'Paien Beauchesne', 'M'],
       [189, 'AdeleClavette@cuvox.de', 'Adele Clavette', 'F'],
       [190, 'LotyeJodion@fleckens.hu', 'Lotye Jodion', 'F'],
       [191, 'AmaranteLacroix@fleckens.hu', 'Amarante Lacroix', 'F'],
       [192, 'XarlesCaisse@jourrapide.com', 'Xarles Caisse', 'M'],
       [193, 'LealaLemelin@dayrep.com', 'Leala Lemelin', 'F'],
       [194, 'ChantalLamoureux@jourrapide.com', 'Chantal Lamoureux', 'F'],
       [195, 'NinetteAdler@superrito.com', 'Ninette Adler', 'F'],
       [196, 'EmmanuelleLabrie@einrot.com', 'Emmanuelle Labrie', 'F'],
       [197, 'HuonDeLaRonde@rhyta.com', 'Huon De La Ronde', 'M'],
       [198, 'SimoneSt-Pierre@jourrapide.com', 'Simone St- Pierre', 'F'],
       [199, 'PeverellMazuret@dayrep.com', 'Peverell Mazuret', 'M'],
       [200, 'LorrainePaulet@einrot.com', 'Lorraine Paulet', 'F'],
       [201, 'DemiLazure@cuvox.de', 'Demi Lazure', 'F'],
       [202, 'AgramantGrandpre@rhyta.com', 'Agramant Grandpre', 'M'],
       [203, 'ClothildeBerie@teleworm.us', 'Clothilde Berie', 'F'],
       [204, 'AimeMarseau@dayrep.com', 'Aime Marseau', 'M'],
       [205, 'RogerDeLaRonde@gustr.com', 'Roger De La Ronde', 'M'],
       [206, 'AiglentinaMarcheterre@superrito.com',
        'Aiglentina Marcheterre', 'F'],
       [207, 'NoemiLaisne@rhyta.com', 'Noemi Laisne', 'F'],
       [208, 'DenisPatenaude@einrot.com', 'Denis Patenaude', 'M'],
       [209, 'JulienBeriault@rhyta.com', 'Julien Beriault', 'M'],
       [210, 'MartheQuerry@einrot.com', 'Marthe Querry', 'F'],
       [211, 'ParfaitBedard@armyspy.com', 'Parfait Bedard', 'M'],
       [212, 'MandelBarteaux@gustr.com', 'Mandel Barteaux', 'M'],
       [213, 'PauletteLemaitre@fleckens.hu', 'Paulette Lemaitre', 'F'],
       [214, 'YoletteLanoie@dayrep.com', 'Yolette Lanoie', 'F'],
       [215, 'LucilleBaron@superrito.com', 'Lucille Baron', 'F'],
       [216, 'ChappellSarrazin@rhyta.com', 'Chappell Sarrazin', 'M'],
       [217, 'GanoHetu@fleckens.hu', 'Gano Hetu', 'M'],
       [218, 'MinetteRoy@fleckens.hu', 'Minette Roy', 'F'],
       [219, 'RoslynChalifour@cuvox.de', 'Roslyn Chalifour', 'M'],
       [220, 'KarelBazinet@einrot.com', 'Karel Bazinet', 'M'],
       [221, 'JosetteBordeleau@einrot.com', 'Josette Bordeleau', 'F'],
       [222, 'LangleyCaron@armyspy.com', 'Langley Caron', 'M'],
       [223, 'ClaudeDandonneau@jourrapide.com', 'Claude Dandonneau', 'F'],
       [224, 'ApollineMichaud@superrito.com', 'Apolline Michaud', 'F'],
       [225, 'PascalineBeaudry@rhyta.com', 'Pascaline Beaudry', 'F'],
       [226, 'FleurCaouette@jourrapide.com', 'Fleur Caouette', 'F'],
       [227, 'FrancisMasse@jourrapide.com', 'Francis Masse', 'M']],
      dtype=object)

## Manipulation des lignes et colonnes

In [5]:
email = data['email'] # sélectionne la colonne 'email'
# rmq : email n'est pas un dataframe mais une Series, ie une liste ne contenant qu'un seul type d'objet
display(email.head())

0    LaurentDagenais@rhyta.com
1        GuyMarois@fleckens.hu
2    BeaufortLesage@einrot.com
3    RussellDurand@armyspy.com
4         AlexisRiel@rhyta.com
Name: email, dtype: object

In [6]:
extraction = data[['nom','email']] # sélectionne les colonnes 'nom' et 'email' /!\ Mettre les champs des colonnes dans une liste !
display(extraction.head())

                nom                      email
0  Laurent Dagenais  LaurentDagenais@rhyta.com
1        Guy Marois      GuyMarois@fleckens.hu
2   Beaufort Lesage  BeaufortLesage@einrot.com
3    Russell Durand  RussellDurand@armyspy.com
4       Alexis Riel       AlexisRiel@rhyta.com

In [7]:
data['identifiant'] = data['identifiant']*100
data['identifiant'] = 1 # remplace les valeurs de la colonne 'identifiant' par 1
data['identifiant'] = np.random.randint(1, 1000, data.shape[0]) # remplace les valeurs de la colonne 'identifiant' par un nombre aléatoire entre 1 et 1000
display(data['identifiant'].head())

0    225
1    674
2    589
3    792
4    488
Name: identifiant, dtype: int32

In [8]:
data['id'] = data['identifiant'] + [1_000 if genre == 'M' else 2_000 for genre in data['genre']]
display(data.tail())

,identifiant,email,nom,genre,id
223,806,ClaudeDandonneau@jourrapide.com,Claude Dandonneau,F,2806
224,585,ApollineMichaud@superrito.com,Apolline Michaud,F,2585
225,870,PascalineBeaudry@rhyta.com,Pascaline Beaudry,F,2870
226,806,FleurCaouette@jourrapide.com,Fleur Caouette,F,2806
227,740,FrancisMasse@jourrapide.com,Francis Masse,M,1740

In [9]:
data.pop('id') # supprime la colonne 'id'
# data.drop(columns='id') renvoye un dataframe sans la colonne 'id' mais ne modifie pas le dataframe directement
data.head()

   identifiant                      email               nom genre
0          225  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1          674      GuyMarois@fleckens.hu        Guy Marois     M
2          589  BeaufortLesage@einrot.com   Beaufort Lesage     M
3          792  RussellDurand@armyspy.com    Russell Durand     M
4          488       AlexisRiel@rhyta.com       Alexis Riel     M

In [10]:
data.rename(columns={'identifiant': 'id', 'email': 'mail'}, inplace=True) # renome des colonnes
# /!\ L'argument inplace=True permet de modifier le dataframe sinon la méthode rename renvoie un dataframe avec les modification
display(data.head())

    id                       mail               nom genre
0  225  LaurentDagenais@rhyta.com  Laurent Dagenais     M
1  674      GuyMarois@fleckens.hu        Guy Marois     M
2  589  BeaufortLesage@einrot.com   Beaufort Lesage     M
3  792  RussellDurand@armyspy.com    Russell Durand     M
4  488       AlexisRiel@rhyta.com       Alexis Riel     M

In [11]:
data['id'] = data['id'].astype(float) # Changer le type d'une colonne
print(data.dtypes)

id       float64
mail      object
nom       object
genre     object
dtype: object

In [12]:
data = data.sort_values('id', ascending = False)
display(data.head())
data = data.sort_values(['genre', 'nom'], ascending=[True, False])
display(data.head())

        id                           mail                  nom genre
188  992.0      PaienBeauchesne@rhyta.com     Paien Beauchesne     M
121  978.0  JacquesMarcheterre@einrot.com  Jacques Marcheterre     M
18   977.0      YseultCharest@armyspy.com       Yseult Charest     F
35   975.0      PryorBeauchamp@dayrep.com      Pryor Beauchamp     M
161  974.0       ManonDastous@armyspy.com        Manon Dastous     F

        id                       mail             nom genre
53   629.0    ZurieTheberge@gustr.com  Zurie Theberge     F
112  552.0       ZoeLeclair@gustr.com     Zoe Leclair     F
64   184.0       YvetteDAvis@cuvox.de   Yvette D Avis     F
18   977.0  YseultCharest@armyspy.com  Yseult Charest     F
158  849.0   YoletteMoreau@dayrep.com  Yolette Moreau     F

## Filtre

In [13]:
display(data.iloc[0,2]) # affiche la valeur de la ligne 0 et de la colonne 2
display(data.iloc[:3, 2]) # affiche la valeur de la colonne 2 des 3 premiers clients
display(data.iloc[:3, :]) # affiche toutes les colonnes des 3 premières lignes
display(data.iloc[1:4, 1:3]) # affiche les colonnes 1 à 3 exclus des lignes 1 à 4 exclus
display(data.iloc[-3:, [1, 3]]) # affiche les colonnes 1 et 3 des 3 dernières lignes

'Zurie Theberge'

53     Zurie Theberge
112       Zoe Leclair
64      Yvette D Avis
Name: nom, dtype: object

        id                     mail             nom genre
53   629.0  ZurieTheberge@gustr.com  Zurie Theberge     F
112  552.0     ZoeLeclair@gustr.com     Zoe Leclair     F
64   184.0     YvetteDAvis@cuvox.de   Yvette D Avis     F

                          mail             nom
112       ZoeLeclair@gustr.com     Zoe Leclair
64        YvetteDAvis@cuvox.de   Yvette D Avis
18   YseultCharest@armyspy.com  Yseult Charest

                               mail genre
16   AgricanFoucault@jourrapide.com     M
7          AgramantPepin@dayrep.com     M
202      AgramantGrandpre@rhyta.com     M

In [14]:
display((data.loc[:, 'id']).head(3)) # sélectionne une colonne
display((data.loc[:, ['id', 'nom']]).head(3)) # sélectionne plusieurs colonnes
display((data.loc[data['genre'] == 'F', :]).head(3)) # sélectionne toutes les colonnes et filtre par genre
display((data.loc[(data['genre'] == 'M') & (data['id'] >= 500), ['id', 'genre', 'nom']]).head(3)) # sélectionne des colonnes et filtre par genre et id

53     629.0
112    552.0
64     184.0
Name: id, dtype: float64

        id             nom
53   629.0  Zurie Theberge
112  552.0     Zoe Leclair
64   184.0   Yvette D Avis

        id                     mail             nom genre
53   629.0  ZurieTheberge@gustr.com  Zurie Theberge     F
112  552.0     ZoeLeclair@gustr.com     Zoe Leclair     F
64   184.0     YvetteDAvis@cuvox.de   Yvette D Avis     F

        id genre               nom
192  830.0     M     Xarles Caisse
167  798.0     M     Verney Course
152  632.0     M  Vallis Mainville

In [15]:
display(data.loc[0:76, :]) # sélection des lignes d'INDEX 0 à 76 (les lignes d'index 0, 22 et 76 qui sont consécutives dans la base)
display(data.iloc[0:3, :]) # sélection des lignes d'INDICE 0 à 3 (les 3 premières lignes)
display(data.index) # Affiche la liste des index
data_reset_index = data.reset_index() # affecte l'indice à l'index
print("Reset index :")
display(data_reset_index.index)

        id                       mail               nom genre
0    225.0  LaurentDagenais@rhyta.com  Laurent Dagenais     M
222  884.0   LangleyCaron@armyspy.com     Langley Caron     M
76   953.0    LanceParent@teleworm.us      Lance Parent     M

        id                     mail             nom genre
53   629.0  ZurieTheberge@gustr.com  Zurie Theberge     F
112  552.0     ZoeLeclair@gustr.com     Zoe Leclair     F
64   184.0     YvetteDAvis@cuvox.de   Yvette D Avis     F

Index([ 53, 112,  64,  18, 158, 214, 168,  71,  63,  99,
       ...
        20,  36,  24,   4,  88,  62, 204,  16,   7, 202],
      dtype='int64', length=228)

Reset index :

RangeIndex(start=0, stop=228, step=1)

## Agrégation

In [16]:
display(data.groupby('genre')['id'].mean()) # groupe par 'genre' et calcul la moyenne des 'id'
display(data.groupby(['genre', 'nom'])['id'].sum()) # groupe par 'genre' et 'nom' et calcul la somme des 'id'
display(data.groupby('genre').agg({'id': ['sum', 'mean']})) # groupe par 'genre' et calcul la somme et la moyenne des 'id'

genre
F    500.932203
M    497.618182
Name: id, dtype: float64

genre  nom
F      Aceline Hughes        268.0
       Adelaide Brousse      475.0
       Adele Clavette        406.0
       Agate Grandbois       925.0
       Agnes Briard          615.0
                             ...
M      Verney Course         798.0
       Vick David            180.0
       Xarles Caisse         830.0
       Zacharie Duplessis    348.0
       Zdenek Vadnais        476.0
Name: id, Length: 228, dtype: float64

            id
           sum        mean
genre
F      59110.0  500.932203
M      54738.0  497.618182

In [17]:
tab_double_entrees = data.pivot_table(index='nom', columns='genre', values='id', aggfunc='sum') # créer un tableau à double entrées
# la fonction d'aggrégation peut aussi être une fonction personnellement implémentée ou encore np.mean
display(tab_double_entrees.head(3))
tab_double_entrees.reset_index(inplace=True) # index deviennent les indices
display(tab_double_entrees.head(3))

genre                 F   M
nom
Aceline Hughes    268.0 NaN
Adelaide Brousse  475.0 NaN
Adele Clavette    406.0 NaN

genre               nom      F   M
0        Aceline Hughes  268.0 NaN
1      Adelaide Brousse  475.0 NaN
2        Adele Clavette  406.0 NaN

In [18]:
tab_double_entrees.melt(id_vars='nom', value_vars=('F', 'M')) # transforme un tableau double entrées en tableau linéaire
display(tab_double_entrees.head(3))

genre               nom      F   M
0        Aceline Hughes  268.0 NaN
1      Adelaide Brousse  475.0 NaN
2        Adele Clavette  406.0 NaN

## Jointure

In [19]:
# pd.merge(A,B) jointure naturelle (ie les clés ont le même nom) des dataframe A et B
# A.merge(B) méthode jointure
# pd.merge(A,B,on='id') pour préciser le nom de la clé commune
# pd.merge(A,B,left_on='id',right_on='identifiant') si clés n'ont pas le même nom
# pb.merge(A,B,how='inner') l'argument how précise le type de jointure
# 'inner' -> interne A inter B (par dédaut)
# 'left' -> A union (A inter B)
# 'right' -> B union (A inter B)
# 'outer' -> externe A union B

## Concaténation

In [20]:
# pd.concat([df1, df2], ignore_index=True) Pour concaténer deux dataframes.
# rmq : l'argument 'ignore_index=True' permet de réindexer le dataframe formé des dataframes df1 et df2, sans cet argument les index seraient en doublon